/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */

process {
  /* Sarek as the default container */
  container = "${params.repository}/sarek:${params.tag}"
  withName:GetVersionAlleleCount {
    container = "${params.repository}/runallelecount:${params.tag}"
  }
  withName:GetVersionASCAT {
    container = "${params.repository}/r-base:${params.tag}"
  }
  withName:GetVersionSnpeff {
    container = {params.genome == 'GRCh38' ? "${params.repository}/snpeffgrch38:${params.tag}" : "${params.repository}/snpeffgrch37:${params.tag}"}
  }
  withName:GetVersionVEP {
    container = {params.genome == 'GRCh38' ? "${params.repository}/vepgrch38:${params.tag}" : "${params.repository}/vepgrch37:${params.tag}"}
  }
  withName:RunAlleleCount {
    container = "${params.repository}/runallelecount:${params.tag}"
  }
  withName:RunAscat {
    container = "${params.repository}/r-base:${params.tag}"
  }
  withName:RunConvertAlleleCounts {
    container = "${params.repository}/r-base:${params.tag}"
  }
  withName:RunSnpeff {
    container = {params.genome == 'GRCh38' ? "${params.repository}/snpeffgrch38:${params.tag}" : "${params.repository}/snpeffgrch37:${params.tag}"}
  }
  withName:RunVEP {
    container = {params.genome == 'GRCh38' ? "${params.repository}/vepgrch38:${params.tag}" : "${params.repository}/vepgrch37:${params.tag}"}
  }
}
